{% extends "layout.html" %}
{% block content %}
<h2 class="mb-4">Ajouter un nouveau vin</h2>

<form method="POST" class="row g-3 mb-5">
    <div class="col-md-6">
        <label class="form-label">Nom du vin</label>
        <input type="text" name="name" class="form-control" placeholder="Bordeaux / Beaujolais / Champagne" required>

        <label class="form-label mt-3">Année du vin</label>
        <input type="number" name="year" class="form-control" placeholder="e.g. 2020" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Type du vin</label>
        <input type="text" name="type" class="form-control" placeholder="Rouge / Blanc / Rosé" required>

        <label class="form-label mt-3">Quantité (en bouteille) </label>
        <input type="number" name="quantity" class="form-control" placeholder="e.g. 12" required>
    </div>

    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-success">Créer un nouveau vin</button>
    </div>
</form>
{% endblock %}
